.page{
     position: relative;
      .nameMenu{
            display: flex;
            justify-content: center;
            position: absolute;
            top: -80px;
            text-align: center;
            color: #000000;
            font-size: 40px;
            font-weight: 400;
            margin-bottom: 24px;
            
      }
}