.page{
      position: relative;
      .nameMenu{
            position: absolute;
            top: -70px;
            left: 0;
            color: #000000;
            font-size: 40px;
            font-weight: 400;
            margin-bottom: 24px;
            
      }
}