.amount{
      .counter{
            width: 100%;
            background: #F2F2F3;
            height: 40px;
            display: flex;
            align-items: center;
            font-weight: 400;
            border-radius: 15px;
      }
      .quantity{
            padding: 0 18px 0 18px ;
      }
}