
.btn{
      outline: none;
      border-radius: 10px;
      border: none;
      color: #000000;
      font-size: 16px;
      width: 100%;
      height: 40px;
      cursor: pointer;
      @media (max-width:654px) {
            font-size: 12px;
      }
      
}
.first{
      background: #FFAB08;
}
.order{
      background: #FF7020;
      &:active{
            background: #F9F9F9;
      }
}

.active{
      background: #F2F2F3;
}
.type-btn{
      background: #F2F2F3;
}