header{
      .header{
            height: 466px;
            background: #FFAB08;
            border-end-end-radius: 60%;
            border-end-start-radius: 60%;
            @media (max-width:540px){  
                  height: 550px;
                  border-end-end-radius: 45%;
                  border-end-start-radius: 45%;
            }
            @media (max-width:350px){  
                  height: 550px;
            }
            @media (max-width:269px){   
                  height: 470px;
            }
            @media (max-width:213px){   
                  height: 400px;
                  border-end-end-radius: 35%;
border-end-start-radius: 35%;
            }
            .wrapper{
                  margin: 0 auto;
                  max-width: 1440px;
                  .content{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        .nameFast{
                              
                        }
                  }
            }
      
      }
      .list{
            margin: 0 auto;
            max-width: 1440px;
            margin-top: 40px;
      }
}