header{
      .header{
            height: 466px;
            background: #FFAB08;
            border-end-end-radius: 60%;
            border-end-start-radius: 60%;
            .wrapper{
                  margin: 0 auto;
                  max-width: 1440px;
                  .content{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                  }
            }
      
      }
      .list{
            margin: 0 auto;
            max-width: 1440px;
            margin-top: 40px;
      }
}