.structures{
      .contents{
            display: flex;
            @media (max-width:991px) {
                  display: flex;
                  justify-content: center;
            }
            .innerContent{
            display: flex;
            flex-wrap: wrap;
            
            @media (max-width: 509px) {
                  display: flex;
                  justify-content: center;
            }
            }
      }
}