.showTheFood{
      margin:  0 30px 30px 0px;
      @media (max-width:788px) {
            margin:  0 20px 20px 0px;
      }
      @media (max-width:540px){ 
            margin:  0 10px 10px 0px;
      }
      .box{      
            background: #FFFFFF;
            color: #000000;
            width: 300px;
            height: 100%;
            border-radius: 15px;
            @media (max-width:991px){     
                  width: 160px;
            }
            .imgFood{                                    
                  width: 276px;
                  padding-top: 12px;
                  @media (max-width:991px){
                        padding-top: 6px;
                        width: 137px;
                  }
                  .contentImg{
                        margin-right: 12px;
                        margin-left: 12px;
                        @media (max-width:991px){
                              margin-right: 4px;
                              margin-left: 4px;
                        }
                  }
            }
            .information{
                  margin-top: 16px;
                  margin-left: 12px;
                  .price{
                        font-size: 24px;
                        font-weight: 600; 
                        margin: 0 0 8px 0;
                  }
                  .title{
                        margin: 0 0 29px 0;
                        overflow: hidden;
                        text-overflow: ellipsis; 
                        white-space: nowrap; 
                        @media (max-width:540px){ 
                              font-size: 12px;
                        }
                  }
                  .gram{
                        
                        color: #B1B1B1;
                        font-size: 16px;
                        font-weight: 400;
                  }
            }
            .btn{
                  padding-bottom: 12px;
                  display: flex;
                  justify-content: center;
                  & span{
                        width: 276px;
                        @media (max-width:991px){
                              width: 137px;
                              padding-bottom: 4px;
                        }
                  }
            }
      }
}
