.contentHeader{
      display: flex;
      @media (max-width:540px){  
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            
      }
      .hamburger{
            & img{
                  animation: moveImg 8s linear infinite;
                  width: 253.41px;
                  height: 289.95px;
                  @media (max-width:768px){  
                        width: 227px;
                        height: 100%;
                  }
                  @media (max-width:269px){   
                        width: 180px;
                        height: 100%;
                  }
                  @media (max-width:213px){   
                        width: 120px;
                        height: 100%;
                  }
            }
            @media (max-width:540px){  
                  display: flex;
                  justify-content: center;
                  
            }
            
      }
      .text{
            font-family: Nunito;
            font-weight: 800;
            font-size: 40px;
            line-height: 75px;
            margin-left: 21px;
            @media (max-width:991px){  
                  font-size: 20px;
                  line-height: 36px;
            }
            @media (max-width:540px){  
                  text-align: center;
                  
            }
            @media (max-width:347px){   
                  font-size: 15px;
            }
            @media (max-width:269px){   
                  font-size: 10px;
            }
            @media (max-width:213px){  
                  font-size: 9px;
            }
            
            
            & h1{
                  & span{
                        color: #FF5C00;
                  } 
            }
      }
      .deliveryOrder{
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
            @media (max-width:540px){  
                  text-align: center;
                  font-size: 12px;
            }
            @media (max-width:213px){  
                  font-size: 9px;
            }
            & span{
                  font-weight: 600;
            }
      }
}
@keyframes moveImg{
      0%{
            transform: translateX(0);
      }
      25%{
            transform: translateY(15px);
      }
      50%{
            transform: translateX(15px);
      }
      75%{
            transform: translateY(0px);
      }
      100%{
            transform: translateX(0px);
      }
}